name: Build and Release

on:
  push:
    tags:
      - 'v*' # Exemple : v1.0.2

jobs:
  build-windows:
    runs-on: windows-latest
    steps:
      - name: 游닌 Checkout code
        uses: actions/checkout@v3
      - name: 游릭 Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: 游닍 Install dependencies
        run: npm ci
      - name: 游 Build Vite
        run: npm run build
      - name: Publish with electron-builder (Windows)
        run: npm run build:electron:win
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}

  build-mac:
    runs-on: macos-latest
    steps:
      - name: 游닌 Checkout code
        uses: actions/checkout@v3
      - name: 游릭 Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: 游닍 Install dependencies
        run: npm ci
      - name: 游 Build Vite
        run: npm run build
      - name: Publish with electron-builder (Mac)
        run: npm run build:electron:mac
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
